:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom left, #505050, #5a5555) fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
